.registration {
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 42px;
  box-shadow: 0px 0px 60.8535px -4.93407px rgba(161, 132, 222, 0.13);
  background: #FFFFFF;
  position: relative;
  z-index: 1;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__container.section {
    margin-bottom: 200px;
  }

  @media (max-width: 1640px) {
    &__container.section {
      margin-bottom: 160px;
    }
  }

  @media (max-width: 1440px) {
    &__container.section {
      margin-bottom: 100px;
    }
  }

  @media (max-width: 980px) {
    &__container.section {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 72px !important;
    z-index: 1;
  
    @media (max-width: 1640px) {
      margin-bottom: 62px !important;
    }

    @media (max-width: 1366px) {
      margin-bottom: 52px !important;
    }

    @media (max-width: 980px) {
      margin-bottom: 42px !important;
    }

    @media (max-width: 480px) {
      margin-bottom: 34px !important;
    }
  }

  &__description {
    user-select: none;
    width: 100%;
    padding: 26px 0;
    background: rgba(154, 124, 222, 0.1);
    border-radius: 74px;
    text-align: center;
    box-shadow: none;

    .gradient-text {
      font-weight: bold;
      font-size: 24.6703px;
      line-height: 30px;
    }
  }

  &__form {
    width: 100%;
    background: #FFFFFF;
    overflow: hidden;
    border-radius: 32px;
  }

  &__error {
    margin: 0 auto;
    padding: 0 80px;
    color: red;
    visibility: hidden;
    height: min-content;
    display: block;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 30px;

    &_active {
      visibility: visible;
    }
  }

  &__textfield {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
  }

  &__input {
    padding: 10px 20px;
    border: none;
    border-bottom: 1.5px solid #86888a;
    box-sizing: border-box;
    font-style: normal;
    color: #18232F;
    border-radius: 0;
    font-family: "SF UI Display", 'Arial', sans-serif;
    font-weight: 500;
    font-size: 24.6703px;
    line-height: 30px;

    &::placeholder {
      user-select: none;
      margin-top: 4px;
      margin-left: -10px;
      font-weight: 500;
      font-size: 24.6703px;
      line-height: 30px;
      color: #86888A;
    }
  }

  &__submit {
    margin-top: 60px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "SF UI Display", 'Arial', sans-serif;
    font-weight: bold;
    font-size: 24.6703px;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(144.37deg, #B196DF 9.05%, #7B59DD 98.1%);
    box-shadow: 0 0 81.9963px -6.64835px rgba(161, 132, 222, 0.13);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 10%;
      top: 50%;
      width: 50px;
      height: 50px;
      transform: translateY(-50%);
      background-image: url("../landing-images/icons/loader.svg");
      background-repeat: no-repeat;
      background-size: contain;
      display: none;
    }

    &:hover {
      opacity: .9;
    }

    &:disabled {
      cursor: default;
      background: linear-gradient(144.37deg, #DBDBDB 9.05%, #CCCCCC 98.1%);

      &::after {
        display: block;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &__subtitle {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -6px;
    transform: translateY(100%);
    font-size: 26px;
    line-height: 120%;
    font-weight: 700;
  }

  @media (max-width: 1440px) {
    max-width: 315px;
    margin: 0 auto;
    padding: 7px;
    border-radius: 30px;

    &__error {
      padding: 0 56px;
      font-size: 12.6px;
      line-height: 21px;

      &_active {
        visibility: visible;
      }
    }

    &__textfield {
      padding: 14px 42px;
    }

    &__input {
      padding: 7px 14px;
      font-size: 17px;
      line-height: 21px;

      &::placeholder {
        margin-top: 2.8px;
        margin-left: -7px;
        font-size: 17px;
        line-height: 21px;
      }
    }

    &__description {
      padding: 18px 0;
      border-radius: 52px;

      .gradient-text {
        font-size: 17px;
        line-height: 21px;
      }
    }

    &__submit {
      margin-top: 42px;
      height: 56px;
      font-size: 17px;
      line-height: 21px;

      &::after {
        width: 35px;
        height: 35px;
      }
    }

    &__subtitle {
      font-size: 16px;
    }

  }

  @media (max-width: 768px) {
    max-width: 330px;
    padding: 5px;
    border-radius: 32px;

    &__description {
      padding: 19px 0;

      .gradient-text {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__error {
      padding: 10px 40px;
      font-size: 14px;
    }

    &__textfield {
      padding: 0 43px;
    }

    &__input {
      padding: 27px 10px 5px;
      border-bottom: 1px solid #86888A;
      font-size: 18px;
      line-height: 22px;

      &::placeholder {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__submit {
      border-radius: 55px;
      margin-top: 35px;
      height: 60px;
      font-size: 18px;
      line-height: 22px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    max-width: 85.31vw;
    padding: 2.8vw 0.9vw 1.87vw;
    border-radius: 9.8vw;

    &__form {
      width: 98%;
      margin: 0 auto;
    }

    &__description {
      padding: 5vw 0;

      .gradient-text {
        font-size: 4.68vw;
        line-height: 5.63vw;
      }
    }

    &__error {
      height: min-content;
      padding: 1.56vw 11.25vw;
      font-size: 3.125vw;
    }

    &__textfield {
      padding: 6.8vw 11.25vw 0;

      &:first-of-type {
        padding: 0 11.25vw;
      }
    }

    &__input {
      font-size: 4.69vw;
      line-height: 5.63vw;

      &::placeholder {
        font-size: 4.69vw;
        line-height: 5.63vw;
      }
    }

    &__submit {
      border-radius: 14.06vw;
      margin-top: 15.31vw;
      height: 15.31vw;
      font-size: 4.68vw;
      line-height: 5.63vw;

      &::after {
        width: 40px;
        height: 40px;
        right: 5%;
      }
    }

    &__subtitle {
      font-size: 4.37vw;
    }
  }
}