.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 12%;
}


@media (max-width: 1440px) {
  .container {
    padding: 0 7%;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 0 4%;
  }
}
