---
import ModuleContainer from "@/components/ModuleContainer.astro";
import CasesCaseCard from "@/components/cases/CasesCaseCard.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const langRoute = lang === 'ru' ? '' : 'en'

const items = [
  {
    title: t("cases.cases.bank.title"),
    subtitle: t("cases.cases.bank.subtitle"),
    infoLink: `${langRoute}/blog/bank`,
    image: import("@/images/content/ru/cases/1.jpg"),
  },
  {
    title: t("cases.cases.designer.title"),
    subtitle: t("cases.cases.designer.subtitle"),
    infoLink: `${langRoute}/blog/designer`,
    image: import("@/images/content/ru/cases/2.jpg"),
  },
  {
    title: t("cases.cases.animeShop.title"),
    subtitle: t("cases.cases.animeShop.subtitle"),
    infoLink: `${langRoute}/blog/anime-store`,
    image: import("@/images/content/ru/cases/3.jpg"),
  },
  {
    title: t("cases.cases.blogger.title"),
    subtitle: t("cases.cases.blogger.subtitle"),
    infoLink: `${langRoute}/blog/blogger`,
    image: import("@/images/content/ru/cases/4.jpg"),
  },
];

---

<ModuleContainer title={t("cases.title")} classes="!px-0">
  <div
    class="grid
    grid-cols-1
    px-16
    gap-6
    sm:gap-4
    sm:grid-cols-2
    md:grid-cols-3
    md:px-20
    md:gap-4
    lg:px-32
    lg:grid-cols-4
    xl:px-40
    xl:gap-6"
  >
    {items.map((item) => <CasesCaseCard {...item} />)}
  </div>
</ModuleContainer>
