.about {
    width: 100%;
    margin-bottom: 80px;
    position: relative;

    &__payments {
        margin-top: 18px;
    }

    &__title {
        margin-bottom: 17px;
        display: none;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
    }

    &__links {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__link {
        display: flex;
        margin-right: 112px;

        &:last-of-type {
            margin-right: 0;
        }

        :hover {
            opacity: 0.9;
        }
    }

    .icon {
        width: 80px;
        height: 80px;
    }

    &__container {
        max-width: 1232px;
        display: flex;
        flex-direction: column;
    }

    &__wrapper {
        width: 100%;
        margin: 0 auto 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__subtitle {
        cursor: pointer;
        width: 45%;
        text-align: center;
    }

    &__description {
        width: 45%;
        text-align: center;
    }

    @media (max-width: 1640px) {

        .icon {
            width: 64px;
            height: 64px;
        }
    }

    @media (max-width: 1440px) {
        margin-bottom: 50px;

        &__title {
            margin-bottom: 17px;
            font-size: 13px;
            line-height: 16px;
        }

        &__link {
            margin-right: 78px;
        }

        .icon {
            width: 56px;
            height: 56px;
        }

        &__container {
            max-width: 932px;
        }

    }

    @media (max-width: 980px) {
        margin-bottom: 40px;

        &__link {
            margin-right: 64px;
        }

        .icon {
            width: 56px;
            height: 56px;
        }
    }

    @media (max-width: 768px) {
        margin-top: 40px;
        margin-bottom: 32px;

        &__link {
            margin-right: 64px;
        }

        .icon {
            width: 39px;
            height: 39px;
        }
    }

    @media (max-width: 480px) {
        margin-bottom: 11.87vw;
        margin-top: 24.61vw;

        &__title {
            margin-bottom: 5.32vw;
            font-size: 6vw;
            line-height: 7.3vw;
            display: block;
        }

        &__links {
            justify-content: center;
        }

        &__link {
            margin-right: 11.87vw;
        }


        &__wrapper {
            flex-direction: column;
            margin-bottom: 4.67vw;
        }

        &__subtitle {
            width: 100%;
        }

        &__description {
            width: 100%;
        }

        .icon {
            width: 10.5vw;
            height: 10.5vw;
        }
    }
}