---
import { Image } from "astro:assets";
---

<article>
  <h5><b>Магазин подарков</b></h5>
  <p>Сделайте выдачу подарков за баллы полностью автоматической.</p>
  <Image
    loading="lazy"
    width="347px"
    height="auto"
    src={import("@/images/content/ru/shop-popup/1.jpg")}
    alt="shop image 1"
  />
  <section>
    <p><strong> Как это происходит:</strong></p>
    <br />
    <ol>
      <li>
        На страничке проверки баллов у вас появится новая вкладка “Магазин” с
        каруселью подарков.
      </li>
      <li>
        При наборе определённого кол-ва баллов человек получит сообщения от бота
        в директ с кнопкой для входа в ваш магазин
      </li>
      <li>
        Он сможет делать покупки за баллы без вашего участия. Баллы будут
        списываться автоматически.
      </li>
      <li>
        Информация о получении призов или ссылки на них будут отправляться
        участнику прямо в директ.
      </li>
      <li>
        Если выкупят подарок, в котором потребуется ваше участие (к примеру
        личную консультацию или материальный приз) - то сообщение о выигрыше мы
        отправим в ваш Телеграм.
      </li>
    </ol>
  </section>
  <section>
    <p><strong>Функционал:</strong></p>
    <br />
    <ol class="list-bold">
      <li>
        <b>Стоимость:</b>
        <ol type="a">
          <li>Загрузка фото подарка</li>
          <li>Название подарка</li>
          <li>Цена подарка в баллах</li>
          <li>Количество подарков</li>
          <li>Описание подарков</li>
        </ol>
        <Image
          loading="lazy"
          height="auto"
          src={import("@/images/content/ru/shop-popup/2.png")}
          alt="shop image 2"
        />
      </li>
      <li>
        <b>Приветственное сообщение</b>
        <ol type="a">
          <li>
            Для покупки и авторизации в магазине участник игры должен набрать то
            кол-во баллов, которое стоит ваш самый дешёвый подарок. Затем он в
            Директ получит сообщение от бота:
          </li>
        </ol>
        <Image
          loading="lazy"
          height="auto"
          src={import("@/images/content/ru/shop-popup/3.png")}
          alt="shop image 3"
        />
      </li>
      <li>
        <p><b>Собщение о выигрыше</b></p>
        <ol type="a">
          <li>
            На каждый подарок можно составить уникальное сообщение о выигрыше.
          </li>
          <li>
            И сразу же туда вписать ссылку на подарок (если разыгрывается
            чек-лист или другой информационный продукт)
          </li>
          <li>Или инструкция как подарок можно получить.</li>
          <Image
            loading="lazy"
            height="auto"
            src={import("@/images/content/ru/shop-popup/4.png")}
            alt="shop image 4"
          />
        </ol>
      </li>
      <li>
        <p><b>Уведомление о выигрыше</b></p>
        <ol type="a">
          <li>
            Если выкупят подарок, в котором потребуется ваше участие (к примеру
            личную консультацию или материальный приз) - то сообщение о выигрыше
            мы отправим в ваш Телеграм.
          </li>
          <Image
            loading="lazy"
            height="auto"
            src={import("@/images/content/ru/shop-popup/5.png")}
            alt="shop image 5"
          />
        </ol>
      </li>
      <li>
        <p><b>История побед</b></p>
        <ol type="a">
          <li>
            Участники игры смогут увидеть (если вы так решите) кто, когда и что
            покупал в магазине за баллы. И тогда в честности конкурса не
            останется вообще никаких сомнений :)
          </li>
          <Image
            loading="lazy"
            height="auto"
            src={import("@/images/content/ru/shop-popup/6.png")}
            alt="shop image 6"
          />
        </ol>
      </li>
      <li>
        <p><b>Кодовое слово</b></p>
        <ol type="a">
          <li>
            Чтобы каждый раз не искать кнопку сообщение с кодом человек может 1
            раз в сутки получить по кодовому слову, которое вы установите
          </li>
          <Image
            loading="lazy"
            height="auto"
            src={import("@/images/content/ru/shop-popup/7.png")}
            alt="shop image 7"
          />
        </ol>
      </li>
      <li>
        <p><b>Редактирование во время игры</b></p>
        <ol type="a">
          <li>
            Вы можете добавлять и удалять подарки, а также редактировать их
            количество и стоимость в баллах прямо во время игры.
          </li>
        </ol>
      </li>
    </ol>
  </section>
  <section>
    <p><strong>Реальный пример:</strong></p>
    <p>
      Работу магазина на реальном примере можно посмотреть тут: <a
        target="_blank"
        href="https://igame.by/page/al2ex_">https://igame.by/page/al2ex_</a
      >
    </p>
  </section>
  <section>
    <p><strong>Стоимость:</strong></p>
    <ul>
      <li>30$/месяц (при оплате на месяц)</li><li>
        24$/месяц (при оплате на год)
      </li><li>Сервис оплачивается отдельно</li>
      <li>
        Оплата в эквиваленте в белорусских или российских рублях по курсу
        нац.банка на момент платежа
      </li>
    </ul>
  </section>
</article>
