---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="text-lg text-center md:text-start text-[3.89vw] m:text-xl px-[7.77vw] sm:px-7 m:px-0 md:px-unset leading-normal"
>
  <span class=" text-[3.89vw] sm:text-base ">
    <span set:html={t("hero.subtitle.1")} />
    <svg
      class="inline-block "
      width="19"
      height="16"
      viewBox="0 0 19 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0.417927 0.239929C-0.4962 0.743273 -0.0588305 1.38539 3.22213 4.35652C4.9849 5.95272 6.42913 7.40473 6.43188 7.58334C6.43463 7.76194 6.6398 8.63873 6.8878 9.53176C7.13603 10.4248 7.54935 12.081 7.80651 13.2121C8.51134 16.314 9.41791 16.815 10.6382 14.7774C10.9753 14.2141 11.6604 13.1346 12.1605 12.3786C12.6604 11.6224 13.0696 10.9773 13.0696 10.9448C13.0696 10.8842 15.4248 7.07934 15.8202 6.50087C15.9425 6.32227 16.305 5.73774 16.6258 5.20192C16.9466 4.66611 17.6153 3.59447 18.1117 2.82051C19.0515 1.3553 19.2136 0.705603 18.7486 0.265908C18.3916 -0.0716028 1.02818 -0.0960661 0.417927 0.239929ZM13.6421 2.30721C13.2642 2.49989 12.3884 2.94002 11.6957 3.28554C9.61598 4.32275 7.93062 5.2305 7.70323 5.43552C7.57454 5.55134 6.84338 5.04648 5.87132 4.17034C3.16649 1.73242 2.85369 1.95433 8.99199 1.95584C14.0387 1.95714 14.2917 1.97619 13.6421 2.30721ZM14.6812 4.69382C14.4165 5.15191 13.8782 6.01377 13.485 6.60912C13.0916 7.20447 12.6565 7.88642 12.5177 8.12457C12.3792 8.36271 11.6996 9.45404 11.0076 10.5497L9.74926 12.5416L9.33112 11.0909C8.67896 8.82773 8.41814 7.34779 8.63545 7.14451C8.94596 6.85376 14.9959 3.70358 15.0838 3.78672C15.1271 3.82763 14.9459 4.23572 14.6812 4.69382Z"
        fill="#121212"></path>
    </svg>
    <span set:html={t("hero.subtitle.2")} />
  </span>
  <span class=" text-[3.89vw] sm:text-base ">
    <svg
      height="19"
      viewBox="0 0 10 12"
      fill="none"
      class="inline align-middle"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M3.17537 2.20204C1.59547 3.93949 1.26118 4.42923 0.965425 5.4395C0.804492 5.98931 0.788519 6.95689 0.930044 7.58315C1.22031 8.8675 2.05898 9.98011 3.16931 10.5539C3.83056 10.8956 4.25937 11 5.00134 11C5.74332 11 6.17213 10.8956 6.83338 10.5539C7.68384 10.1144 8.33776 9.41542 8.75301 8.50185C9.04733 7.85441 9.16825 7.29045 9.16682 6.57257C9.16544 5.92059 9.06709 5.54631 8.71911 4.86904C8.46996 4.38409 7.75684 3.46954 7.65534 3.42789C7.48478 3.35788 7.30313 3.50322 6.95201 3.99069C6.74733 4.27481 6.55451 4.49959 6.52348 4.49016C6.49245 4.48073 6.11253 3.85674 5.6792 3.10352C5.24587 2.35025 4.54001 1.0765 4.50057 1.04967C4.46112 1.02291 4.39293 1.00055 4.34902 1C4.30511 0.99951 3.77697 1.54038 3.17537 2.20204ZM5.66076 4.34592C6.34102 5.53773 6.43554 5.63089 6.69724 5.36783C6.77407 5.2906 6.98487 5.0254 7.16567 4.77845C7.34647 4.53156 7.50763 4.32975 7.52377 4.33006C7.57032 4.33085 8.05775 4.94799 8.23992 5.30243C8.33066 5.47888 8.447 5.82413 8.49847 6.06973C8.57828 6.45038 8.582 6.58984 8.52371 7.016C8.31549 8.53934 7.44613 9.66242 6.08854 10.1616C5.69803 10.3052 5.53899 10.3298 5.00134 10.3298C4.4637 10.3298 4.30465 10.3052 3.91414 10.1616C3.32554 9.94514 2.90841 9.67057 2.49265 9.22573C2.07564 8.77967 1.8191 8.33287 1.61946 7.70503C1.4895 7.29639 1.46368 7.10958 1.46282 6.57257C1.46082 5.29526 1.80724 4.64212 3.4207 2.88163L4.30551 1.91626L4.51305 2.26916C4.62726 2.46332 5.31915 3.74741 5.66076 4.34592Z"
        stroke="#121212"
        stroke-width="0.833333"></path>
    </svg>

    <span set:html={t("hero.subtitle.3")} />
  </span>
  <span class=" text-[3.89vw] sm:text-base ">
    <svg
      class="inline align-middle"
      width="20"
      height="21"
      viewBox="0 0 20 21"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.96488 17.1105C5.80068 17.1105 2.42493 13.7347 2.42493 9.57052C2.42493 5.40631 5.80068 2.03056 9.96488 2.03056C14.1291 2.03056 17.5048 5.40632 17.5048 9.57052C17.5048 11.7275 16.5991 13.673 15.1472 15.0473C15.021 15.1667 14.9453 15.3312 14.9453 15.5049L14.9453 17.6523C14.9453 17.7688 14.8193 17.8415 14.7185 17.7833L12.931 16.7513C12.7725 16.6598 12.5817 16.6464 12.4087 16.7056C11.6423 16.9681 10.8202 17.1105 9.96488 17.1105ZM9.96488 19.0356C4.73748 19.0356 0.499831 14.7979 0.499831 9.57052C0.499832 4.34311 4.73748 0.105467 9.96488 0.105468C15.1923 0.105468 19.4299 4.34312 19.4299 9.57052C19.4299 12.2733 18.2971 14.7115 16.4803 16.4362C16.4153 16.4979 16.3776 16.5832 16.3776 16.6729L16.3776 19.9822C16.3776 20.2292 16.1102 20.3836 15.8963 20.2601L13.0705 18.6286C12.9912 18.5828 12.8962 18.5734 12.8088 18.6009C11.9111 18.8833 10.9558 19.0356 9.96488 19.0356Z"
        fill="#121212"></path>
    </svg>

    <span set:html={t("hero.subtitle.4")} />
  </span>

  <span class=" text-[3.89vw] sm:text-base ">
    <svgv
      class="inline align-middle"
      width="22"
      height="24"
      viewBox="0 0 22 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.84303 0.684466C8.32765 1.13428 6.92573 2.66363 6.69066 4.12366L6.48386 5.40612H4.80155C1.38617 5.40612 0.934418 6.22931 0.603612 13.0553C0.428158 16.6737 0.473128 18.52 0.75692 19.3743C1.21923 20.7649 3.39179 22.8544 4.77395 23.2379C5.29384 23.382 8.09565 23.5 11 23.5C13.9044 23.5 16.7062 23.382 17.226 23.2379C18.6082 22.8544 20.7808 20.7649 21.2431 19.3743C21.5269 18.52 21.5718 16.6737 21.3964 13.0553C21.0656 6.22931 20.6138 5.40612 17.1985 5.40612H15.5161L15.3039 4.08984C15.0865 2.74108 13.2128 0.671276 12.2084 0.671276C11.9492 0.671276 11.5328 0.60837 11.2835 0.531598C11.0337 0.454488 10.3857 0.523481 9.84303 0.684466ZM13.0192 3.25346C13.4076 3.74352 13.7255 4.42838 13.7255 4.77537C13.7255 5.33848 13.4328 5.40612 11 5.40612C8.56716 5.40612 8.27451 5.33848 8.27451 4.77537C8.27451 4.42838 8.59237 3.74352 8.98075 3.25346C9.52517 2.56589 9.98714 2.36229 11 2.36229C12.0129 2.36229 12.4748 2.56589 13.0192 3.25346ZM18.9632 7.8581C19.2862 8.36608 19.525 10.2083 19.6821 13.3982C19.9406 18.6569 19.7389 19.5329 17.9449 20.9337C17.1051 21.5895 16.6097 21.6399 11 21.6399C5.39026 21.6399 4.8949 21.5895 4.05511 20.9337C2.26105 19.5329 2.05936 18.6569 2.31795 13.3982C2.475 10.2083 2.71382 8.36608 3.03679 7.8581C3.51444 7.10661 3.61392 7.09714 11 7.09714C18.3861 7.09714 18.4856 7.10661 18.9632 7.8581ZM6.99693 9.03538C6.31658 9.27077 6.50362 10.9557 7.34886 12.2047C7.84865 12.9437 8.63938 13.5315 9.56332 13.8507C10.8269 14.2877 11.1731 14.2877 12.4367 13.8507C13.3606 13.5315 14.1514 12.9437 14.6511 12.2047C15.8745 10.397 15.5781 8.52233 14.1514 9.04316C13.9173 9.12873 13.7255 9.40368 13.7255 9.65395C13.7255 10.6249 12.9123 11.8043 11.9778 12.1885C10.2825 12.8855 8.27451 11.511 8.27451 9.65395C8.27451 9.13312 7.62414 8.81826 6.99693 9.03538Z"
        fill="#121212"></path>
    </svg>

    <span set:html={t("hero.subtitle.5")} />
  </span>
</div>
