$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

$main-gradient: linear-gradient(144.37deg, #B196DF 9.05%, #7B59DD 98.1%);
$additional-gradient: linear-gradient(144.37deg, #A2EF3F 9.05%, #8CD430 53.11%, #75B721 98.1%);
