.activity {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 151px;
  margin-bottom: 130px;
  align-items: flex-start;

  &__item {
    max-width: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__desc {
    margin-top: 6px;
    font-weight: bold;
    font-size: 30.1212px;
    line-height: 119.9%;
    text-align: center;
    color: #18232F;
  }

  @media (max-width: 980px) {
    margin-top: 50px;
    margin-bottom: 85px;
    &__item {
      max-width: 175px;
    }
    svg {
      width: 28px;
      height: 36px;
    }
    &__desc {
      font-size: 16.4725px;
      line-height: 119.9%;
    }
  }
  @media (max-width: 480px) {
    margin-top: 5.93vw;
    margin-bottom: 14.68vw;
    &__item {
      max-width: 34.34vw;
    }
    svg {
      width: 5.62vw;
      height: 6.87vw;
    }
    &__desc {
      font-size: 3.125vw;
      line-height: 119.9%;
    }
  }
}
