.cards-slider {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  user-select: none;

  &__cta {
    font-weight: bold;
    font-size: 18px;
    line-height: 119.9%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pagination-column {
    width: 25.31%;
    height: 100%;
  }

  &__cta {
    position: absolute;
    top: -63px;
    left: 50%;
    transform: translate(-50%, -100%);

    .gradient-text {
      margin-top: 14px;
    }
  }

  &__pagination {
    width: 100%;
    height: 100%;
    margin-bottom: 104px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }

  &__pagination-item {
    width: 100%;
  }

  &__pagination-btn {
    cursor: pointer;
    margin: 0;
    width: 100%;
    height: 82px;
    box-sizing: border-box;
    border-radius: 71px 0 0 71px;
    background-color: transparent;
    border: none;
    font-family: 'Montserrat Alternates', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 25.8936px;
    line-height: 120%;
    color: #000000;
    text-align: start;
    padding: 0 5px 0 13px;
    transition: color .2s ease-in, background-color .3s ease-in;

    &:hover {
      background-color: rgba(61, 16, 205, 0.05);
    }

    &_active {
      color: #A082FE;
      background-color: #E7DFFF;

      &:hover {
        background-color: #E7DFFF;
      }
    }
  }

  &__cards-column {
    width: 74.68%;
  }

  &__cards-list {
    display: flex;
    position: relative;
  }

  &__card {
    width: 0;
    position: relative;
    display: none;
    transition: width .2s ease-in;

    .slide-items__container {
      margin-right: 47px;
    }

    &-image {
      position: relative;
      width: 74px;
      height: 737px;
      object-fit: cover;
      object-position: center;
      opacity: .2;
      border-radius: 26px;
      transition: width .3s ease-in, opacity .2s ease-in;
      cursor: pointer;

      &_active {
        width: 371px;
        box-shadow: 0 0 64.734px 12.9468px rgba(0, 0, 0, 0.04);
        opacity: 1;
        filter: grayscale(0%);
      }
    }

    & .slide-nav {
      display: none;
    }

    & .slide-thumb {
      display: none;
    }

    &_active {
      width: 100%;
      display: flex;
      opacity: 1;
    }
  }

  .slide-items {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 18px;
  }

  .slide-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    grid-template-columns: 1fr 2fr 1fr;
    opacity: 0;
  }

  .slide-nav button {
    cursor: pointer;
    -webkit-appearance: none;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .slide-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    height: 4px;
    border-radius: 15px;
  }

  .slide-items__container {
    position: relative;
    min-width: max-content;
    background: #fff;
    border-radius: 32px;
  }

  .image-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 20px 0px;
    padding: 0 12px;
    height: 10px;
    border-radius: 15px;
    opacity: 0;
    box-sizing: border-box;
  }

  .image-thumb.active {
    opacity: 1;
  }

  .slide-thumb > div {
    flex: 1;
    display: block;
    height: 4px;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 3px;
    border-radius: 15px;
    overflow: hidden;
  }


  .image-thumb > div {
    flex: 1;
    display: block;
    height: 10px;
    background: rgba(150, 150, 150, 0.7);
    margin: 0 3px;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;

    @media (max-width: 740px) {
      display: none;
    }
  }

  .image-thumb.active > div > span {
    display: block;
    height: inherit;
    background: #A48BF2;
    border-radius: 39px;
    transform: translateX(-100%);
    animation: thumb 5s forwards linear;
  }

  .slide-thumb > div.active > span {
    display: block;
    height: inherit;
    background: #A48BF2;
    border-radius: 39px;
    transform: translateX(-100%);
    animation: thumb 5s forwards linear;
  }

  @keyframes thumb {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0)
    }
  }
  @media (max-width: 1440px) {
    max-width: 1284px;
    & &__card {
      .slide-items__container {
        margin-right: 26px;
      }
    }
  }

  @media (max-width: 1180px) {
    & &__card {
      zoom: .9;
    }

    &__cta {
      top: -30px;

      svg {
        width: 51px;
        height: 51px;
      }
    }
  }

  @media (max-width: 980px) {
    &__pagination-btn {
      zoom: .8;
    }

    & &__card {
      zoom: .8;
    }
  }

  @media (max-width: 900px) {
    &__pagination-btn {
      zoom: .7;
    }

    & &__card {
      zoom: .7;
    }
  }

  @media (max-width: 740px) {
    &__pagination-btn {
      zoom: 1;
      padding-left: 2.5vw;
      height: 12vw;
      font-size: 4vw;
      line-height: 119.9%;
      white-space: nowrap;
    }

    & &__cards-column {
      margin-top: 0;
    }

    &__cta {
      top: -63px;

      svg {
        width: 80px;
        height: 80px;
      }
    }

    & &__card {
      zoom: 1;
      width: 54vw;
      height: 106vw;
      border-radius: 18px;
      margin-right: 0;
      opacity: 0;

      & .slide-items {
        position: relative;
        width: 100%;

        .slide-items__container {
          position: static;
        }

        .cards-slider__card-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          border-radius: 18px;

          &_active {
            opacity: 1;
            border-radius: 18px;
          }
        }
      }

      &_active {
        border-radius: 18px;
        opacity: 1;

        & .slide-nav {
          display: grid;
        }

        & .slide-thumb {
          width: 100%;
          display: flex;
        }
      }
    }
    &__pagination-column {
      width: 100%;
      max-width: 50%;
      min-width: 40%;
    }
    &__cards-column {
      width: 60%;
    }
    .cards-slider__pagination {
      margin-bottom: 48px;
    }
  }

  @media (max-width: 580px) {
    &__cta {
      top: -30px;
      font-size: 10px;
      line-height: 119.9%;

      svg {
        width: 40px;
        height: 40px;
      }
    }

  }
}

.pause {
  opacity: .8 !important;
  filter: grayscale(100%);
}
