.cards-slider {
  width: 100%;
  max-width: 1266px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  user-select: none;

  &__pagination-column {
    width: 24%;
    height: 100%;
  }

  &__pagination {
    height: 100%;
    margin-bottom: 127px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__pagination-item {
    width: 100%;
  }

  &__pagination-btn {
    cursor: pointer;
    margin: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border-radius: 87px 0 0 87px;
    background-color: transparent;
    border: none;
    font-family: 'Montserrat Alternates', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 31px;
    line-height: 120%;
    color: #000000;
    text-align: start;
    padding: 0 5px 0 27px;
    transition: color .2s ease-in, background-color .3s ease-in;

    &:hover {
      background-color: rgba(61, 16, 205, 0.05);
    }

    &_active {
      color: #A082FE;
      background-color: #E7DFFF;

      &:hover {
        background-color: #E7DFFF;
      }
    }
  }

  &__cards-column {
    margin-top: 110px;
    width: 76%;
  }

  &__cards-list {
    display: flex;
    position: relative;
  }

  &__card {
    width: 0;
    position: relative;
    display: none;
    transition: width .2s ease-in;

    &-image {
      position: relative;
      margin-right: 47px;
      width: 90px;
      height: 771px;
      object-fit: cover;
      object-position: center;
      opacity: .2;
      //filter: grayscale(80%);
      border-radius: 32px;
      transition: width .3s ease-in, opacity .2s ease-in;

      &_active {
        width: 388px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        opacity: 1;
        filter: grayscale(0%);
      }
    }

    & .slide-nav {
      display: none;
    }

    & .slide-thumb {
      display: none;
    }

    &_active {
      width: 100%;
      display: flex;
      opacity: 1;
    }
  }

  .slide-items {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 5px;
  }

  .slide-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    grid-template-columns: 1fr 1fr  1fr;
    opacity: 0;
  }

  .slide-nav button {
    cursor: pointer;
    -webkit-appearance: none;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .slide-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 12px;
    height: 4px;
    border-radius: 15px;
  }

  .slide-thumb > div {
    flex: 1;
    display: block;
    height: 4px;
    background: rgba(255, 255, 255, 0.7);
    margin: 5px;
    border-radius: 15px;
    overflow: hidden;
  }

  .slide-thumb > div.active > span {
    content: '';
    display: block;
    height: inherit;
    background: #A48BF2;
    border-radius: 39px;
    transform: translateX(-100%);
    animation: thumb 5s forwards linear;
  }

  @keyframes thumb {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0)
    }
  }

  @media (max-width: 1440px) {
    max-width: 980px;
    & &__cards-column {
      margin-top: 50px;
    }
    & &__card {
      &-image {
        width: 60px;
        height: 490px;
        border-radius: 20px;
        margin-right: 20px;

        &_active {
          border-radius: 15px;
          width: 240px;
        }
      }


    }
    &__pagination-btn {
      height: 54px;
      font-size: 17.2225px;
      line-height: 119.9%;
    }
  }

  @media (max-width: 980px) {
    max-width: 100%;
    padding: 0 16px;
    &__cards-column {
      margin-top: 50px;
    }
    & &__card {
      position: relative;

      &-image {
        width: 40px;
        height: 490px;
        border-radius: 20px;
        margin-right: 20px;

        &_active {
          border-radius: 15px;
          width: 240px;
        }
      }

    }
    &__pagination-btn {
      height: 54px;
      font-size: 17.2225px;
      line-height: 119.9%;
    }
  }

  @media (max-width: 740px) {
    & &__card {
      width: 54vw;
      height: 106vw;
      border-radius: 12px;
      margin-right: 0;
      opacity: 0;

      & .slide-items {
        position: relative;
        width: 100%;

        .cards-slider__card-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          border-radius: 12px;

          &_active {
            opacity: 1;
            border-radius: 12px;
          }
        }
      }


      &_active {
        border-radius: 12px;
        opacity: 1;

        & .slide-nav {
          display: grid;
        }

        & .slide-thumb {
          width: 100%;
          display: flex;
        }
      }
    }
    &__pagination-column {
      width: 100%;
      max-width: 50%;
      min-width: 40%;
    }
    &__cards-column {
      margin-top: 110px;
      width: 60%;
    }
    .cards-slider__pagination {
      margin-bottom: 48px;
    }
    &__pagination-btn {
      padding-left: 1.5vw;
      height: 12vw;
      font-size: 4vw;
      line-height: 119.9%;
      white-space: nowrap;
    }
  }
}

.pause {
  opacity: .8 !important;
  filter: grayscale(100%);
}
