.cards-slider {
  max-width: 1266px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  user-select: none;

  &__pagination-column {
    width: 24%;
    height: 100%;
  }

  &__pagination {
    height: 100%;
    margin-bottom: 127px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__pagination-item {
    width: 100%;
  }

  &__pagination-btn {
    cursor: pointer;
    margin: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border-radius: 87px 0 0 87px;
    background-color: transparent;
    border: none;
    font-family: 'Montserrat Alternates', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 31px;
    line-height: 120%;
    color: #000000;
    text-align: start;
    padding: 0 5px 0 27px;
    transition: color .2s ease-in, background-color .3s ease-in;

    &:hover {
      background-color: rgba(61, 16, 205, 0.05);
    }

    &_active {
      color: #A082FE;
      background-color: #E7DFFF;

      &:hover {
        background-color: #E7DFFF;
      }
    }


  }

  &__cards-column {
    margin-top: 110px;
    width: 76%;
  }

  &__cards-list {
    display: flex;
    position: relative;
  }

  &__card {
    width: 90px;
    margin-right: 47px;
    height: 771px;
    border-radius: 32px;
    overflow: hidden;
    background: #fff;
    transition: width .3s ease-in, opacity .2s ease-in;
    position: relative;
    opacity: .3;

    & .slide-nav {
      display: none;
    }

    & .slide-thumb {
      display: none;
    }

    &_active {
      width: 388px;
      opacity: 1;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

      & .slide-thumb {
        display: flex;
      }

      .slide-nav {
        display: grid;
      }

      & .cards-slider__card-image {
        opacity: 1;
        filter: grayscale(0%);
      }

    }
  }

  &__card-image {
    object-fit: cover;
    object-position: center;
    height: 100%;
    opacity: .2;
    filter: grayscale(80%);
    transition: opacity .3s ease-in;
  }

  .slide-items {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }

  .slide-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    grid-template-columns: 1fr 5fr 1fr;
    opacity: 0;
  }

  .slide-nav button {
    cursor: pointer;
    -webkit-appearance: none;
    opacity: 0;
  }

  .cards-slider__card-image {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
  }

  .cards-slider__card-image_active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
  }

  .slide-thumb {
    position: absolute;
    top: 20px;
    left: 5%;
    width: 90%;
  }

  .slide-thumb > span {
    flex: 1;
    display: block;
    height: 5px;
    background: rgba(255, 255, 255, 0.7);
    margin: 5px;
    border-radius: 39px;
    overflow: hidden;
  }

  .slide-thumb > span.active::after {
    content: '';
    display: block;
    height: inherit;
    background: #A48BF2;
    border-radius: 39px;
    transform: translateX(-100%);
    animation: thumb 5s forwards linear;
  }

  @keyframes thumb {
    to {
      transform: initial;
    }
  }

  @media (max-width: 1400px) {
    max-width: 760px;
    &__card {
      width: 60px;
      height: 490px;
      border-radius: 20px;
      margin-right: 20px;

      &_active {
        border-radius: 15px;
        width: 240px;
      }
    }
    &__pagination-btn {
      height: 54px;
      font-size: 17.2225px;
      line-height: 119.9%;
    }
  }

  @media (max-width: 720px) {
    max-width: 90%;
    &__cards-list {
      justify-content: space-between;
    }
    &__card {
      width: 20px;
      height: 490px;
      border-radius: 12px;
      margin-right: 5px;

      &_active {
        border-radius: 15px;
        width: 240px;
      }
    }
    &__pagination-btn {
      height: 54px;
      font-size: 14px;
      line-height: 119.9%;
      padding-left: 10px;
    }
  }

  @media (max-width: 520px) {
    max-width: calc(100% - 40px);

    &__card {
      width: 172px;
      height: 342px;
      border-radius: 12px;
      margin-right: 0;
      opacity: 0;

      &:not(:first-of-type) {
        position: absolute;
        top: 0;
        left: 0;
      }

      &_active {
        border-radius: 12px;
        width: 172px;
        opacity: 1;
      }
    }
    &__pagination-column {
      width: 100%;
      max-width: 50%;
      min-width: 40%;
    }
    &__cards-column {
      margin-top: 110px;
      width: 60%;
    }
    .cards-slider__pagination {
      margin-bottom: 48px;
    }
    &__pagination-btn {
      padding-left: 5px;
      height: 38px;
      font-size: 12px;
      line-height: 119.9%;
    }
  }
}
