.functionality {
  .subtitle {
    margin-bottom: 110px;
  }

  @media (max-width: 1280px) {
    .subtitle {
      margin-bottom: 80px;
    }
  }
  @media (max-width: 760px) {
    .subtitle {
      margin-bottom: 11.5vw;
    }
  }
}
