.header {
  width: 100%;
  padding-top: 58px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;


  @media (max-width: 1440px) {
    padding-top: 35px;
  }

  @media (max-width: 580px) {
    padding-top: 14px;

    & .logo {
      margin-left: 5px;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
