.header {
  width: 100%;
  padding-top: 58px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 100;

  @media (max-width: 1440px) {
    padding-top: 35px;
  }

  @media (max-width: 580px) {
    padding-top: 4.37vw;
    & .logo {
      margin-left: 1.56vw;
    }
    & .btn {
      padding: 2.5vw 6.87vw;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
