.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  transition: left 0.2s ease-in, opacity 0.1s ease-in;
  box-sizing: border-box;

  &__item {
    display: flex;
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #18232f;
    text-decoration: none;
    transition: opacity 0.1s ease-in;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      transition: opacity 0s;
      opacity: 0.8;
    }
  }


  @media (max-width: 1024px) {
    &__link {
      font-size: 14px;
      line-height: 14px;
    }
  }

  @media (max-width: 768px) {
    &__link {
      font-size: 11px;
      line-height: 14px;
    }
  }

  @media (max-width: 580px) {
    opacity: 0;
    height: 300px;
    position: fixed;
    left: -100%;
    top: 0;
    align-items: flex-start;

    &_active {
      z-index: 5;
      left: 0;
      opacity: 1;
      border-radius: 0;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    &__link {
      font-size: 20px;
      margin: 15px 0;
    }

    &__list {
      height: 100%;
      flex-direction: column;
      padding: 20% 0 0 10%;
      justify-content: flex-start;
      align-items: flex-start;
      background: #fff;
      z-index: 280;
    }
  }
}
