.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  transition: left .2s ease-in;
  box-sizing: border-box;
}

@media (max-width: 580px) {
  .nav-menu {
    height: 300px;
    position: fixed;
    left: -100%;
    top: 0;
    align-items: flex-start;
  }
}

.nav-menu_active {
  left: 0;
}

.nav-menu__item {
  display: flex;
}

.nav-menu__link {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #18232F;
  text-decoration: none;
  transition: opacity .1s ease-in;

&:hover {
   opacity: .9;
 }

&:active {
   transition: opacity 0s;
   opacity: .8;
 }
}

@media (max-width: 1740px) {
  .nav-menu__link {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .nav-menu__link {
    font-size: 16px;
    line-height: 14px;
  }
}

@media (max-width: 768px) {
  .nav-menu__link {
    font-size: 11px;
    line-height: 14px;
  }
}

@media (max-width: 580px) {
  .nav-menu__link {
    font-size: 20px;
    margin: 15px 0;
  }
}

.nav-menu__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 580px) {
  .nav-menu__list {
    height: 100%;
    flex-direction: column;
    padding: 20% 0 0 10%;
    justify-content: flex-start;
    align-items: flex-start;
    background: #fff;
    z-index: 9;
  }
}
