.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: none;

  &_active {
    display: flex;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 501;
    background: #000000e6;
  }

  &__window {
    z-index: 502;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__window_up {
    max-width: 800px;
    z-index: 502;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;

    p {
      margin-bottom: 1rem
    }

    h5 {
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: 1.5rem;

      @media (max-width: 480px) {
        font-size: 6.5vw;
      }
    }
  }

  &__window_video {
    width: 60vw;
    height: 50vh;

    iframe {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 980px) {
      width: 90vw;
      height: 60vw;
    }
  }

  .contract-popup__body {
    box-sizing: border-box;
    background: #fff;
    width: 95%;
    z-index: 999;
    border-radius: 20px;
    position: relative;
    padding: 0;

    &>div {
      padding: 30px 20px;
      width: 100%;
      overflow-y: auto;
      max-height: 90vh;
    }

    b {
      font-weight: bold;
    }

    button {
      outline: none;
      border: none;
      background: none;
      width: 44px;
      height: 44px;
      line-height: 44px;
      position: absolute;
      right: 12px;
      top: 0;
      text-decoration: none;
      text-align: center;
      opacity: .65;
      padding: 0 0 18px 10px;
      color: #333;
      font-style: normal;
      font-size: 28px;
      font-family: 'Montserrat Alternates', 'Arial', sans-serif;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }
  }
}


.popup__body {
  max-width: 524px;
  box-sizing: border-box;
  background: #fff;
  width: 95%;
  z-index: 999;
  border-radius: 20px;
  position: relative;
  padding: 0;
  color: #18232F;
  line-height: 150%;
  font-size: 14px;
  font-weight: 500;

  &>div {
    padding: 30px 20px;
    width: 100%;
    overflow-y: auto;
    max-height: 90vh;

  }

  b {
    font-weight: bold;
  }

  button {
    outline: none;
    border: none;
    background: none;
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 12px;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    padding: 0 0 18px 10px;
    color: #333;
    font-style: normal;
    font-size: 28px;
    font-family: 'Montserrat Alternates', 'Arial', sans-serif;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  section {
    margin-bottom: 20px;
  }

  h5 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 36px;
    text-align: center;
  }

  p {
    margin-bottom: 0;

    font-style: normal;
    font-weight: 400;

  }

  ol,
  ul {
    padding-left: 20px;
  }

  ol.list-bold>li::marker {
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  strong {
    background: linear-gradient(180deg, #B196DF 9.05%, #7B59DD 98.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
  }
}