.registration {
  max-width: 605px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 0 !important;
  border-radius: 57px;
  box-shadow: 0 0 81.9963px -6.64835px rgba(161, 132, 222, 0.13);
  background: #FFFFFF;

  &__description {
    user-select: none;
    width: 100%;
    padding: 35px 0;
    background: rgba(154, 124, 222, 0.1);
    box-shadow: 0 0 81.9963px -6.64835px rgba(161, 132, 222, 0.13);
    border-radius: 100px;
    text-align: center;

    .gradient-text {
      font-weight: bold;
      font-size: 33px;
      line-height: 41px;
    }
  }

  &__form {
    width: 100%;
  }

  &__error {
    margin: 0 auto;
    padding: 20px 80px;
    color: red;
    visibility: hidden;
    height: min-content;
    display: block;
    font-weight: 500;
    font-size: 24px;
    text-align: center;

    &_active {
      visibility: visible;
    }
  }

  &__textfield {
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
  }

  &__input {
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #86888A;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    color: #18232F;
    border-radius: 0;

    &::placeholder {
      user-select: none;
      margin-top: 4px;
      font-weight: 500;
      font-size: 33.2418px;
      line-height: 41px;
      color: #86888A;
    }
  }

  &__submit {
    margin-top: 44px;
    width: 100%;
    height: 108px;
    box-sizing: border-box;
    color: #FFFFFF;
    text-align: center;
    background: linear-gradient(144.37deg, #B196DF 9.05%, #7B59DD 98.1%);
    box-shadow: 0 0 81.9963px -6.64835px rgba(161, 132, 222, 0.13);
    border-radius: 100px;
    font-weight: bold;
    font-size: 33px;
    line-height: 41px;
    border: none;
    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 10%;
      top: 50%;
      width: 50px;
      height: 50px;
      transform: translateY(-50%);
      background-image: url("../images/icons/loader.svg");
      background-repeat: no-repeat;
      background-size: contain;
      display: none;
    }

    &:hover {
      opacity: .9;
    }

    &:disabled {
      cursor: default;
      background: linear-gradient(144.37deg, #DBDBDB 9.05%, #CCCCCC 98.1%);

      &::after {
        display: block;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  @media (max-width: 768px) {
    max-width: 330px;
    padding: 5px;
    border-radius: 32px;

    &__description {
      padding: 19px 0;

      .gradient-text {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__error {
      padding: 10px 40px;
      font-size: 14px;
    }
    &__textfield {
      padding: 0 43px;
    }

    &__input {
      padding: 27px 10px 5px;
      border-bottom: 1px solid #86888A;
      font-size: 18px;
      line-height: 22px;

      &::placeholder {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__submit {
      border-radius: 55px;
      margin-top: 35px;
      height: 60px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  @media (max-width: 480px) {
    max-width: 85.31vw;
    padding: 2.8vw 0.9vw 1.87vw;
    border-radius: 9.8vw;
    &__form {
      width: 98%;
      margin: 0 auto;
    }
    &__description {
      padding: 5vw 0;

      .gradient-text {
        font-size: 4.68vw;
        line-height: 5.63vw;
      }
    }

    &__error {
      height: min-content;
      padding: 1.56vw 11.25vw;
      font-size: 3.125vw;
    }

    &__textfield {
      padding: 6.8vw 11.25vw 0;

      &:first-of-type {
        padding: 0 11.25vw;
      }
    }

    &__input {
      font-size: 4.69vw;
      line-height: 5.63vw;

      &::placeholder {
        font-size: 4.69vw;
        line-height: 5.63vw;
      }
    }

    &__submit {
      border-radius: 14.06vw;
      margin-top: 15.31vw;
      height: 15.31vw;
      font-size: 4.68vw;
      line-height: 5.63vw;

      &::after {
        width: 40px;
        height: 40px;
        right: 5%;
      }
    }

  }
}

