.reputation {
  margin: 120px auto 0;
  display: flex;
  align-items: center;
  user-select: none;
  flex-direction: column;

  &__description {
    margin-bottom: 188px;
    font-weight: 600;
    font-size: 45.1971px;
    line-height: 55px;
    text-align: center;
    color: #86888A;
  }

  &__cta {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -100%);
  }


  @media(max-width: 980px) {
    &__description {
      font-size: 18px;
      line-height: 22px;
    }
  }

  @media(max-width: 480px) {
    &__description {
      font-size: 10.6122px;
      line-height: 13px;
    }
  }

  &__pagination-column {
    width: 24%;
    height: 100%;
  }

  &__pagination {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }

  &__pagination-item {
    width: 100%;
  }

  &__pagination-btn {
    cursor: pointer;
    margin: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border-radius: 87px 0 0 87px;
    background-color: transparent;
    border: none;
    font-family: 'Montserrat Alternates', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 31px;
    line-height: 120%;
    color: #000000;
    text-align: start;
    padding: 0 5px 0 27px;
    transition: color .2s ease-in, background-color .3s ease-in;

    &:hover {
      background-color: rgba(35, 205, 16, 0.05);
    }

    &_active {
      color: #A2EF3F;

      background-color: rgba(209, 230, 188, 0.35) !important;

      &:hover {
        background-color: #E7DFFF;
      }
    }
  }

  &__slider {
    display: flex;
    width: 100%;
    align-items: center;
  }

  &__cards-column {
    width: 76%;
    border-right: 32px;
    box-shadow: 0px 0px 78.7313px 15.7463px rgba(0, 0, 0, 0.04);
    border-radius: 32px;
  }

  &__cards-list {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 32px;
  }

  &__card {
    width: 100%;
    position: relative;
    transition: width .2s ease-in;
    opacity: 0;
    display: none;
    overflow-y: scroll;
    max-height: 710px;
    height: 710px;

    &_active {
      display: block;
      opacity: 1;
    }
  }

  #reputation__comment-insta {
    width: 100%;
    position: relative;
    overflow: hidden;

    .reputation__insta-base {
      max-width: 100%;
    }

    .reputation__wrapper {
      position: absolute;
      height: 61%;
      width: 34%;
      z-index: 999;
      bottom: 27%;
      left: 64.4%;
      overflow: auto;
    }
  }

  &__comment {
    width: 100%;
    max-width: 100%;
  }

  @media (max-width: 1440px) {
    margin-top: 70px;
    &__description {
      margin-bottom: 60px;
    }

    & &__cards-column {
      box-shadow: 0px 0px 78.7313px 15.7463px rgba(0, 0, 0, 0.04);
    }
    &__pagination-btn {
      height: 54px;
      font-size: 17.2225px;
      line-height: 119.9%;
    }
    &__card {
      height: 598px;
    }
  }

  @media (max-width: 980px) {
    max-width: 100%;
    & &__card {
      position: relative;
      max-height: 400px;
    }
    &__pagination-btn {
      height: 54px;
      font-size: 17.2225px;
      line-height: 119.9%;
    }
  }

  @media (max-width: 740px) {
    margin-top: 35px;


    &__cta {
      width: 13.7vw;
      height: 12.5vw;
    }

    #reputation__comment-insta {
      width: max-content;
    }
    & &__card {
      max-height: unset;
      overflow: unset;
    }
    &__description {
      margin-bottom: 50px;
    }

    & &__card {
      width: 54vw;
      height: 106vw;
      max-height: unset;
      border-radius: 12px;
      margin-right: 0;
      opacity: 0;

      &_active {
        border-radius: 12px;
        opacity: 1;
      }
    }
    &__pagination-column {
      width: 100%;
      max-width: 50%;
      min-width: 40%;
    }
    &__cards-column {
      width: 60%;
      max-height: max-content;
      height: max-content;
    }
    &__pagination-btn {
      padding-left: 2.5vw;
      height: 12vw;
      font-size: 4vw;
      line-height: 119.9%;
      white-space: nowrap;
    }
    &__wrapper {
      display: none;
    }
  }
}

.comment-popup__body {
  max-height: 60vh;
  overflow-y: scroll;
  padding: 30px 0;
  width: 90%;
  background: #ffffff;
  border-radius: 30px;
  max-width: 480px;
}

.comment-image {
  max-width: 100%;
  width: 100%;
}
