.subtitle {
  margin: 0 auto;
  padding: 0;
  font-weight: 800;
  font-size: 80px;
  line-height: 99px;
  text-transform: uppercase;
  color: #18232F;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 44px;
    line-height: 54px;
  }

  @media (max-width: 480px) {
    font-size: 9.37vw;
    line-height: 11.56vw;
  }
}
