.subtitle {
  margin: 0 auto;
  padding: 0;
  font-weight: bold;
  font-size: 80px;
  line-height: 120%;
  text-transform: uppercase;
  color: #18232F;
  text-align: center;

  @media (max-width: 1600px) {
    font-size: 60px;
  }

  @media (max-width: 768px) {
    font-size: 44px;
  }

  @media (max-width: 480px) {
    font-size: 9.37vw;
    line-height: 11.56vw;
  }
}
