.subtitle {
  margin: 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  text-transform: uppercase;
  color: #18232F;
  text-align: center;

  @media (max-width: 740px) {
    font-size: 42.2461px;
    line-height: 51px;
  }

  @media (max-width: 480px) {
    font-size: 9.37vw;
    line-height: 11.56vw;
  }
}
