.nav-menu__link {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #18232F;
  text-decoration: none;
  transition: opacity .1s ease-in;
}

.nav-menu__link:hover {
  opacity: .9;
}

.nav-menu__link:active {
  transition: opacity 0s;
  opacity: .8;
}

@media (max-width: 1740px) {
  .nav-menu__link {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .nav-menu__link {
    font-size: 16px;
    line-height: 14px;
  }
}

@media (max-width: 768px) {
  .nav-menu__link {
    font-size: 11px;
    line-height: 14px;
  }
}

@media (max-width: 580px) {
  .nav-menu__link {
    font-size: 20px;
    margin: 15px 0;
  }
}
