---
import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="reputation__cta">
  <svg
    class="block sm:hidden"
    width="80"
    height="80"
    viewBox="0 0 80 80"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.05"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7.14642 43.8615C6.80469 38.4859 9.98153 33.5338 13.0043 28.9076C15.9972 24.3272 20.0662 20.6519 24.5491 17.2279C29.7827 13.2305 34.5947 6.96365 41.4175 7.20603C48.2858 7.45003 52.5462 14.098 57.5435 18.4C61.5699 21.8663 65.0546 25.5919 67.8418 29.9543C70.6378 34.3304 73.6699 38.7989 73.8112 43.8615C73.954 48.9739 71.546 53.8146 68.6299 58.1834C65.7572 62.4874 61.8726 66.0889 57.1897 68.7643C52.395 71.5037 47.0602 73.3436 41.4175 73.7307C35.5137 74.1358 29.1635 73.986 24.2124 71.0267C19.3269 68.1065 17.7473 62.4686 14.844 57.8472C11.9513 53.2426 7.48317 49.1588 7.14642 43.8615Z"
      fill="#007DF6"></path>
    <g clip-path="url(#clip0_269_1964)">
      <path
        d="M34.8003 38.3566V31.583C34.8003 29.0837 36.8287 27.0552 39.3281 27.0552C41.8274 27.0552 43.8559 29.0837 43.8559 31.583V38.3566C46.0473 36.8896 47.4781 34.4084 47.4781 31.583C47.4781 27.0733 43.8377 23.433 39.3281 23.433C34.8184 23.433 31.178 27.0733 31.178 31.583C31.178 34.4084 32.6088 36.8896 34.8003 38.3566ZM52.6217 46.7421L44.3992 42.6489C44.0913 42.5222 43.7653 42.4497 43.4212 42.4497H42.0447V31.583C42.0447 30.0798 40.8313 28.8663 39.3281 28.8663C37.8248 28.8663 36.6114 30.0798 36.6114 31.583V51.0344C30.0914 49.658 30.2 49.6761 29.9646 49.6761C29.4031 49.6761 28.896 49.9115 28.5338 50.2737L27.103 51.7226L36.0499 60.6695C36.5389 61.1585 37.2272 61.4664 37.9697 61.4664H50.2672C51.6255 61.4664 52.676 60.4703 52.8752 59.1482L54.2336 49.6036C54.2517 49.4768 54.2698 49.3501 54.2698 49.2414C54.2698 48.1185 53.5816 47.1405 52.6217 46.7421Z"
        fill="#007DF6"></path>
    </g>
    <defs>
      <clipPath id="clip0_269_1964">
        <rect
          width="43.4668"
          height="43.4668"
          fill="white"
          transform="translate(18.5 18)"></rect>
      </clipPath>
    </defs>
  </svg>

  <svg
    class="hidden sm:!block"
    width="17"
    height="24"
    viewBox="0 0 17 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M4.72752 9.67092V5.59192C4.72752 4.08683 5.94904 2.86531 7.45413 2.86531C8.95922 2.86531 10.1807 4.08683 10.1807 5.59192V9.67092C11.5004 8.7875 12.362 7.29332 12.362 5.59192C12.362 2.87621 10.1698 0.684021 7.45413 0.684021C4.73843 0.684021 2.54623 2.87621 2.54623 5.59192C2.54623 7.29332 3.40784 8.7875 4.72752 9.67092ZM15.4594 14.7206L10.5079 12.2557C10.3225 12.1794 10.1262 12.1358 9.91898 12.1358H9.09009V5.59192C9.09009 4.68668 8.35936 3.95595 7.45413 3.95595C6.54889 3.95595 5.81816 4.68668 5.81816 5.59192V17.3054C1.89185 16.4765 1.95729 16.4874 1.8155 16.4874C1.4774 16.4874 1.17202 16.6292 0.953893 16.8474L0.0922852 17.7199L5.48006 23.1076C5.77454 23.4021 6.18898 23.5875 6.63614 23.5875H14.0416C14.8596 23.5875 15.4922 22.9877 15.6121 22.1915L16.4301 16.4438C16.441 16.3675 16.4519 16.2911 16.4519 16.2257C16.4519 15.5495 16.0375 14.9605 15.4594 14.7206Z"
      fill="#007DF6"></path>
  </svg>
  <p class="text-blue">{t("reputationClick")}</p>
</div>
