<div
  class="bg-grey-dark flex items-center justify-center shrink-0 rounded-full"
  style="width: 20px; height:20px; background: linear-gradient(83.16deg, #E1207B 7.29%, #F5BB4A 144.65%), #000000;"
>
  <svg
    width="10"
    height="12"
    viewBox="0 0 10 12"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M3.17513 2.20204C1.59523 3.93949 1.26094 4.42923 0.965181 5.4395C0.804248 5.98931 0.788275 6.95689 0.929799 7.58315C1.22006 8.8675 2.05873 9.98011 3.16906 10.5539C3.83031 10.8956 4.25912 11 5.0011 11C5.74307 11 6.17188 10.8956 6.83313 10.5539C7.6836 10.1144 8.33752 9.41542 8.75276 8.50185C9.04709 7.85441 9.168 7.29045 9.16657 6.57257C9.1652 5.92059 9.06684 5.54631 8.71887 4.86904C8.46971 4.38409 7.7566 3.46954 7.65509 3.42789C7.48454 3.35788 7.30288 3.50322 6.95176 3.99069C6.74709 4.27481 6.55427 4.49959 6.52324 4.49016C6.49221 4.48073 6.11229 3.85674 5.67896 3.10352C5.24562 2.35025 4.53977 1.0765 4.50032 1.04967C4.46088 1.02291 4.39269 1.00055 4.34878 1C4.30487 0.99951 3.77672 1.54038 3.17513 2.20204ZM5.66052 4.34592C6.34078 5.53773 6.4353 5.63089 6.69699 5.36783C6.77383 5.2906 6.98462 5.0254 7.16542 4.77845C7.34622 4.53156 7.50738 4.32975 7.52353 4.33006C7.57007 4.33085 8.0575 4.94799 8.23968 5.30243C8.33042 5.47888 8.44675 5.82413 8.49822 6.06973C8.57803 6.45038 8.58175 6.58984 8.52347 7.016C8.31525 8.53934 7.44589 9.66242 6.0883 10.1616C5.69779 10.3052 5.53874 10.3298 5.0011 10.3298C4.46345 10.3298 4.30441 10.3052 3.9139 10.1616C3.3253 9.94514 2.90817 9.67057 2.49241 9.22573C2.07539 8.77967 1.81885 8.33287 1.61922 7.70503C1.48926 7.29639 1.46344 7.10958 1.46258 6.57257C1.46057 5.29526 1.807 4.64212 3.42045 2.88163L4.30527 1.91626L4.5128 2.26916C4.62702 2.46332 5.3189 3.74741 5.66052 4.34592Z"
      stroke="#F4F0FF"
      stroke-width="0.833333"></path>
  </svg>
</div>
