<button
  style="width: 20px; height:20px"
  class="bg-grey-dark flex items-center justify-center shrink-0 rounded-full"
>
  <svg
    width="6"
    height="10"
    viewBox="0 0 6 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.200195 2.72599C0.239258 1.98381 0.501845 1.37834 0.987956 0.909586C1.47841 0.436496 2.162 0.199951 3.03874 0.199951C3.85037 0.199951 4.51226 0.423475 5.02441 0.870524C5.54091 1.31757 5.79915 1.87964 5.79915 2.55672C5.79915 3.50724 5.34559 4.25594 4.43848 4.80282C4.03049 5.04587 3.75054 5.27591 3.59863 5.49292C3.45106 5.70993 3.37728 5.99205 3.37728 6.33927V6.76245H2.23796V6.16349C2.23362 5.73814 2.33561 5.36922 2.54395 5.05672C2.75662 4.74422 3.08865 4.45342 3.54004 4.18433C3.92198 3.94995 4.19108 3.71558 4.34733 3.4812C4.50792 3.24683 4.58822 2.9582 4.58822 2.61532C4.58822 2.20733 4.44065 1.87313 4.14551 1.61271C3.85471 1.34795 3.47059 1.21558 2.99316 1.21558C2.50271 1.21558 2.10775 1.35012 1.80827 1.61922C1.51313 1.88832 1.3482 2.25724 1.31348 2.72599H0.200195ZM2.81087 9.7312C2.60254 9.7312 2.42676 9.65959 2.28353 9.51636C2.1403 9.37313 2.06868 9.19735 2.06868 8.98901C2.06868 8.77634 2.1403 8.60056 2.28353 8.46167C2.42676 8.31844 2.60254 8.24683 2.81087 8.24683C3.02355 8.24683 3.19933 8.31844 3.33822 8.46167C3.48145 8.60056 3.55306 8.77634 3.55306 8.98901C3.55306 9.19735 3.48145 9.37313 3.33822 9.51636C3.19933 9.65959 3.02355 9.7312 2.81087 9.7312Z"
      fill="#838F9F"></path>
  </svg>
</button>
