---
import FunctionalityInfoButton from "./FunctionalityInfoButton.astro";
import FunctionalityHotIcon from "./FunctionalityHotIcon.astro";
import { Image } from "astro:assets";
const { title, subtitle, isHot, infoLink, imageM, imageS } = Astro.props;
---

<li
  class="box-border
  sm:max-w-[262px]
  bg-white
  rounded-20
  w-full
  p-4
  flex"
>
  <div class="gap-2
  flex
  sm:gap-4
  sm:flex-col
  relative
  w-full">
    <div
      class="sm:w-full shrink-0 flex items-center justify-center overflow-hidden"
    >
      <Image
        src={imageM || "https://placehold.co/230x126/png"}
        alt={`${title} image`}
        class="w-full rounded-none hidden sm:!block"
      />
      <Image
        src={imageS || "https://placehold.co/64x64/png"}
        alt={`${title} image`}
        class="h-full rounded-none sm:hidden"
      />
    </div>
    <div class="flex flex-col items-center w-full">
      <span
        class="text-[14px] self-start sm:self-center sm:text-center text-main-black font-black sm:text-m xl:text-lg mb-1 sm:mb-2"
        >{title}</span
      >
      <span
        class="text-[12px] sm:text-center text-grey sm:text-sm leading-sm xl:text-m xl:leading-m"
        >{subtitle}</span
      >
    </div>
    <div class="sm:absolute flex flex-col gap-2 right-0 top-0">
      <FunctionalityInfoButton />
      {isHot && <FunctionalityHotIcon />}
    </div>
  </div>
</li>
