@import url('/header__wrapper.css');

.header {
  width: 100%;
  padding-top: 58px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 1440px) {
  .header {
    padding-top: 35px;
  }
}

@media (max-width: 580px) {
  .header {
    padding-top: 14px;
  }

  .header .logo {
    margin-left: 5px;
  }
}

