---
import { Image } from "astro:assets";
---

<article>
  <h5><b>Wheel of Fortune</b></h5>
  <p>
    is a game that motivates your subscribers to be active on the blog on a
    regular basis.
  </p>
  <br />
  <section>
    <p><strong>How it works:</strong></p>
    <br />
    <ol class="list-bold">
      <li>
        <p><b>Stage 1: Calculations</b></p>
        <ol type="a">
          <li>
            Start scoring points for comments in Reels, Posts, Stories,
            airwaves, and automatically reward for marking your profile.
          </li>
        </ol>
      </li>
      <li>
        <p><b>Stage 2: Gifts</b></p>
        <ol type="a">
          <li>
            Add up to 15 gifts to the wheel of fortune and specify the number of
            each one. The probability of their loss will depend on this.
          </li>
        </ol>
      </li>
      <li>
        <p><b>Stage 3: Scroll price</b></p>
        <ol type="a">
          <li>
            Specify the cost of scrolling the wheel in points. When this value
            is reached, we will generate a unique code for the participant.
          </li>
        </ol>
      </li>
      <li>
        <p><b>Stage 4: Anti-spam Direct</b></p>
        <ol type="a">
          <li>
            Bot on the official API (secure) will send a message to the
            participant in Direct with a unique code and a button to scroll the
            wheel
          </li>
        </ol>
      </li>
      <li>
        <p><b>Stage 5: A moment of luck</b></p>
        <ol type="a">
          <li>
            The participant goes to the points verification page with the code
            already entered (we will automatically substitute it) and turns the
            wheel.
          </li>
        </ol>
      </li>
      <li>
        <b>Stage 6: Victory message</b>
        <ol type="a">
          <li>
            For each gift, you can write instructions on how to receive the
            prize, and we will automatically send it to the participant at the
            moment of victory.
          </li>
        </ol>
      </li>
      <li>
        <b>Stage 7: Full control</b>
        <ol type="a">
          <li>
            Edit all settings, victory messages, Add new gifts and change their
            number right during the game.
          </li>
        </ol>
      </li>
    </ol>
  </section>
  <section>
    <p><strong>Functional:</strong></p>
    <br />
    <ol class="list-bold">
      <li>
        <p><b>Availability</b></p>
        <ol type="a">
          <li>The wheel is right on the score verification page</li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/1.png")}
        alt="fortune image 1"
      />
      <li>
        <p><b>History of victories</b></p>
        <ol type="a">
          <li>
            Participants will be able to see the winners in the entire history
            of the game. Reflects the integrity of the competition. It is turned
            on at will.
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/2.png")}
        alt="fortune image 2"
      />
      <li>
        <p><b>Password protection</b></p>
        <ol type="a">
          <li>
            The wheel can be scrolled only if there is a unique code that is
            generated when the participant reaches the required number of
            points. It is impossible to pick up the code!
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/3.png")}
        alt="fortune image 3"
      />
      <li>
        <p><b>Gift list</b></p>
        <ol type="a">
          <li>
            Participants will be able to see what the pictures in the wheel
            mean. And how many prizes are left in the roulette. The function is
            activated at will.
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/4.png")}
        alt="fortune image 4"
      />
      <li>
        <p><b>Drawing points</b></p>
        <ol type="a">
          <li>
            Don't know what to fill the wheel with? It doesn't matter! You can
            add a raffle of points to the main gifts. So that the participant is
            always satisfied and saves up for a new scrolling attempt
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/5.png")}
        alt="fortune image 5"
      />
      <li>
        <b>Notifications</b>
        <ol type="a">
          <li>
            Did the participant win a gift? We will immediately send an email to
            the telegram bot. We can notify you about the winnings of selected
            gifts :)
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/6.png")}
        alt="fortune image 6"
      />
      <li>
        <b>Anti-spam Direct</b>
        <ol type="a">
          <li>
            The participant does not need to clutter up your Yandex.Direct in
            order to spin the wheel idly. When the required number of points is
            reached, the bot will automatically send him a message with a code
            and a scroll button. You can edit it to your liking :)
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/7.png")}
        alt="fortune image 7"
      />
      <li>
        <b>Editing settings</b>
        <ol type="a">
          <li>
            You can add and remove gifts, as well as edit their number and the
            cost of scrolling right during the game.
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/8.png")}
        alt="fortune image 8"
      />
      <li>
        <b>Security</b>
        <ol type="a">
          <li>
            The functionality is built on the official API and approved by META.
            Any bans are excluded!
          </li>
        </ol>
      </li>
    </ol>
  </section>
  <section>
    <p><strong>Real example:</strong></p>
    <ol>
      <li>
        You can check the mechanics on our Instagram <a
          target="_blank"
          href="https://www.instagram.com/igame2by/">@igame2by</a
        >
      </li>
      <ol type="a">
        <li>Leave a reaction to any pinned Stories</li>
        <li>Leave any comment under the Wheel of Fortune post</li>
        <li>
          Get a button within 5 minutes to scroll the wheel in Yandex.Direct
        </li>
        <li>Scroll the wheel</li>
        <li>Check the prize in Yandex.Direct</li>
      </ol>
      <li>
        Start here: <a
          target="_blank"
          href="https://www.instagram.com/igame2by/">@igame2by</a
        >
      </li>
    </ol>
  </section>
  <section>
    <p><strong>Cost:</strong></p>
    <ul>
      <li>$70/month (if paid monthly)</li><li>
        $56/month (if paid annually)
      </li><li>The service is paid separately</li>
      <li>
        Payment in the equivalent in Belarusian or Russian rubles at the
        national exchange rate.bank at the time of payment
      </li>
    </ul>
  </section>
</article>
