---
import { Image } from "astro:assets";
---

<article>
  <h5><b>Колесо Фортуны</b></h5>
  <p>
    Игра, которая мотивирует ваших подписчиков проявлять активность в блоге на
    регулярной основе.
  </p>
  <br />
  <section>
    <p><strong>Как это работает:</strong></p>
    <br />
    <ol class="list-bold">
      <li>
        <p><b>Этап 1: Подсчёты</b></p>
        <ol type="a">
          <li>
            Запустите подсчёт баллов за комментарии в Reels, постах, Stories,
            эфирах, и автоматически поощряйте за отметки вашего профиля.
          </li>
        </ol>
      </li>
      <li>
        <p><b>Этап 2: Подарки</b></p>
        <ol type="a">
          <li>
            Добавьте до 15 подарков в колесо фортуны и укажите кол-во каждого из
            них. От этого будет зависеть вероятность их выпадения.
          </li>
        </ol>
      </li>
      <li>
        <p><b>Этап 3: Цена прокрутки</b></p>
        <ol type="a">
          <li>
            Укажите стоимость прокрутки колеса в баллах. При достижении этого
            значения мы сформируем уникальный код для участника.
          </li>
        </ol>
      </li>
      <li>
        <p><b>Этап 4: Антиспам Директ</b></p>
        <ol type="a">
          <li>
            Бот на официальном API (безопасно) отправит участнику в Директ
            сообщение с уникальным кодом и кнопкой для прокрутки колеса
          </li>
        </ol>
      </li>
      <li>
        <p><b>Этап 5: Момент удачи</b></p>
        <ol type="a">
          <li>
            Участник переходит на страничку проверки баллов с уже введённым
            кодом (мы автоматически его подставим) и крутит колесо.
          </li>
        </ol>
      </li>
      <li>
        <b>Этап 6: Сообщение о победе</b>
        <ol type="a">
          <li>
            Для каждого подарка Вы можете написать инструкцию по получению
            приза, а мы её автоматически вышлем участнику в момент победы.
          </li>
        </ol>
      </li>
      <li>
        <b>Этап 7: Полный контроль</b>
        <ol type="a">
          <li>
            Редактируйте все настройки, сообщения о победе, добавляйте новые
            подарки и изменяйте их количество прямо во время игры.
          </li>
        </ol>
      </li>
    </ol>
  </section>
  <section>
    <p><strong>Функцонал:</strong></p>
    <br />
    <ol class="list-bold">
      <li>
        <p><b>Доступность</b></p>
        <ol type="a"><li>Колесо прямо на страничке проверки баллов</li></ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/1.png")}
        alt="fortune image 1"
      />
      <li>
        <p><b>История побед</b></p>
        <ol type="a">
          <li>
            Участники смогут посмотреть победителей за всю историю игры.
            Отражает честность конкурса. Включается по желанию.
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/2.png")}
        alt="fortune image 2"
      />
      <li>
        <p><b>Защита паролем</b></p>
        <ol type="a">
          <li>
            Колесо можно прокрутить только при наличии уникального кода, который
            генерируется в момент достижения участником нужного кол-ва баллов.
            Подобрать код невозможно!
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/3.png")}
        alt="fortune image 3"
      />
      <li>
        <p><b>Список подарков</b></p>
        <ol type="a">
          <li>
            Участники смогут посмотреть что означают картинки в колесе. И
            сколько призов осталось в рулетке. Функция включается по желанию.
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/4.png")}
        alt="fortune image 4"
      />
      <li>
        <p><b>Розыгрыш баллов</b></p>
        <ol type="a">
          <li>
            Не знаете чем заполнить колесо? Не беда! К основным подаркам можете
            добавить розыгрыш баллов. Чтобы участник был всегда доволен и копил
            на новую попытку прокрутки
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/5.png")}
        alt="fortune image 5"
      />
      <li>
        <b>Уведомления</b>
        <ol type="a">
          <li>
            Участник выиграл подарок? Мы тут же отправим письмо в телеграм-бота.
            Можем уведомлять о выигрышах избранных подарков :)
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/6.png")}
        alt="fortune image 6"
      />
      <li>
        <b>Антиспам Директ</b>
        <ol type="a">
          <li>
            Участнику не нужно захламлять ваш Директ, чтобы вхолостую крутить
            колесо. При достижении нужного кол-ва баллов бот автоматически
            отправит ему сообщение с кодом и кнопкой для прокрутки. Его можно
            отредактировать на свой вкус :)
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/7.png")}
        alt="fortune image 7"
      />
      <li>
        <b>Редактирование настроек</b>
        <ol type="a">
          <li>
            Вы можете добавлять и удалять подарки, а также редактировать их
            количество и стоимость прокрутки прямо во время игры.
          </li>
        </ol>
      </li>
      <Image
        width="256"
        loading="lazy"
        height="auto"
        src={import("@/images/content/ru/fortune-popup/8.png")}
        alt="fortune image 8"
      />
      <li>
        <b>Безопасность</b>
        <ol type="a">
          <li>
            Функционал построен на официальном API и одобрен META. Любые баны
            исключены!
          </li>
        </ol>
      </li>
    </ol>
  </section>
  <section>
    <p><strong>Реальный пример:</strong></p>
    <ol>
      <li>
        Проверить механику можно в нашем Instagram <a
          target="_blank"
          href="https://www.instagram.com/igame2by/">@igame2by</a
        >
      </li>
      <ol type="a">
        <li>Оставьте реакцию на любую закреплённую Stories</li>
        <li>Оставьте любой комментарий под постом с Колесом Фортуны</li>
        <li>Получите в течение 5 минут кнопку для прокрутки колеса в Директ</li>
        <li>Прокрутите колесо</li>
        <li>Проверяйте приз в Директе</li>
      </ol>
      <li>
        Начать тут: <a
          target="_blank"
          href="https://www.instagram.com/igame2by/">@igame2by</a
        >
      </li>
    </ol>
  </section>
  <section>
    <p><strong>Стоимость:</strong></p>
    <ul>
      <li>70$/месяц (при оплате на месяц)</li><li>
        56$/месяц (при оплате на год)
      </li><li>Сервис оплачивается отдельно</li>
      <li>
        Оплата в эквиваленте в белорусских или российских рублях по курсу
        нац.банка на момент платежа
      </li>
    </ul>
  </section>
</article>
