@import 'base/vars';
@import 'base/reset';
@import 'base/fonts';
@import 'base/swiper';
@import "blocks/btn";
@import "blocks/container";
@import "blocks/header";
@import "blocks/hero";
@import "blocks/logo";
@import "blocks/main";
@import "blocks/menu-btn";
@import "blocks/nav-menu";
@import "blocks/how-works";
@import "blocks/clue";
@import "blocks/subtitle";
@import "blocks/cost";

.gradient-text{
  background: $main-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
