@import 'base/vars';
@import 'base/reset';
@import 'base/fonts';
@import 'base/swiper';
@import "blocks/btn";
@import "blocks/container";
@import "blocks/header";
@import "blocks/hero";
@import "blocks/logo";
@import "blocks/main";
@import "blocks/menu-btn";
@import "blocks/nav-menu";
@import "blocks/how-works";
@import "blocks/clue";
@import "blocks/subtitle";
@import "blocks/cost";
@import "blocks/registration";
@import "blocks/popup";
@import "blocks/about";

.gradient-text {
  background: $main-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.o-hidden {
  overflow: hidden;
}

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.support-icon {
  background-image: url("../images/icons/support.svg");
}

.instagram-icon {
  background-image: url("../images/icons/insta.svg");
}

.telegram-icon {
  background-image: url("../images/icons/telegram.svg");
}
